.navbar {
  height: 10%;
  width: 100%;
  /* border: 2px solid black; */
  display: flex;
}

.home {
  width: 10%;
  /* border: 1px solid rgb(74, 71, 71); */
  /* text-align: center;
  height: 75%;
  display: flex;
  
  justify-content: center;
  align-items: center;
  margin-left: 1%;
  border-radius: 9px;
  margin-top: 1%;
  font-family: cursive; */

  width: 10%;
  /* border: 1px solid rgb(74, 71, 71); */
  text-align: center;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5%;
  border-radius: 9px;
  margin-top: 1%;
  font-family: cursive;
}

.heading-collab {
  color: #006e58;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}
.heading-collab:hover {
  color: #1c5a4d;
  transition: 0.3s;
}

.logo-name {
  width: 82%;
  /* border: 1px solid rgb(74, 71, 71); */
  text-align: center;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
  border-radius: 9px;
  margin-top: 1%;
  font-family: cursive;
}

.logo {
  width: 5%;
  margin-right: 1%;
}

.hamburger {
  text-align: center;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
  width: 5%;
  margin-top: 1%;
}
.H-icon {
  height: 100%;
}
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  z-index: 999; /* Ensure it covers other elements */
  display: none; /* Initially hidden */
}

.menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 30%;
  height: 100%;
  margin-top: 0%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: right 0.3s ease;
}

.menu.open {
  right: 0; /* Display the menu when it's open */
}

.menu-overlay.open {
  display: block; /* Display the overlay when the menu is open */
}
