.ParticipantsSection{
  
    /* border: 1px solid blue; */
    height: 98%;
    width: 96%;
    border: 1px solid #949494;
    background: linear-gradient(rgb(245 245 244), rgb(239 239 238));
    border: 1px solid #c0b7b7;
    margin-left: 1%;
    border-radius: 8px;
    margin-top: 1.6%;
    margin-bottom: 1%;
}

.participants-section-head{
    display: flex;
    width: 100%;
    height: 10%;
    /* border: 1px solid blue; */
}

#Phead{
    height: 73%;
    width: 46%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #a1a1a1;
    margin-left: 2%;
    border-radius: 7px;
    margin-top: 3%;
}

#Phead2{
    height: 73%;
    width: 46%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #a1a1a1;
    margin-left: 2%;
    border-radius: 7px;
    margin-top: 3%;
    
}

.participants-body{
    height: 89%;
    /* border: 1px solid red; */
    width: 95%;
    margin-left: 2%;
    border-radius: 9px;
}

.sectionactive{
    background: #d4d4d4;
}