.main-body{
  height: 100vh;
  width: 100%;
}
.body{
  height: 90%;
  /* border: 2px solid red; */
  display: flex;
}

.video-conferencing{
  height: 100%;
  width: 75%;
  /* border: 1px solid blue; */
  
}

.participants-section{
  height: 100%;
  width: 25%;
  /* border: 1px solid black; */
}

.summary-content{
  height: 100%;
  overflow-y: auto;
  /* border: 2px solid black; */
}